@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Inter:wght@400;500&family=Ubuntu:wght@500;700&display=swap');

body{
    color: var(--color-font-global);
    background-color: var(--color-secundary-light);
    min-width: 450px;
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

a, p, button{
    font-family: 'Inter';
    color: var(--color-font-global);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    border: none;
}

.home{
    background: var(--color-bg-primary);
    height: 608px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

header > img{
    cursor: pointer;
}

.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.menu-list > li > a{
    margin: 0px 25px;
    padding: 7px;
}

.menu-list > li > a:hover{
    border-bottom: 3px solid var(--color-primary-normal);
}

/* Dropdown BTN Linguage */
.btn-drop {
    background-color: transparent;
    color: white;
    padding: 16px;
    min-width: 53px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7545cf85;
    min-width: 53px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #e6c7ff;
    border-radius: 4px;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e6c7ff;
}

.btn-header{
    width: 156px;
    height: 42px;
    background-color: var(--color-primary-normal);
    border-radius: 38px;
    text-align: center;
    cursor: pointer;
    
}

.btn-header:hover{
    background-color: var(--color-primary-light);
}

/* Home with Button Action */
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.left{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

section.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 448px;
    height: 111px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

section.left > div:nth-child(1) > p:nth-child(2){
    width: 384px;
    height: 84px;
    font-size: 16px;
    line-height: 27px;
}

/* Solution Area */
.solution{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundary-normal);
    padding: 24px;
    text-align: center;
    margin-bottom: 100px;
}

.title-solution{
    margin-top: 80px;
    margin-bottom: 70px;
}

.title-solution > h3:nth-child(1){
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-primary-normal);
    margin-bottom: 5px;
}

.title-solution > h1:nth-child(2){
    width: 488px;
    height: 77px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style Cards */
.card{
    width: 30%;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #71009a17;
    border-radius: 8px;
    margin: 3px;
    padding: 18px;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: var(--color-br-icon);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

div.card > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 328px;
    height: 24px;
    margin-bottom: 8px;
    padding: 3px;
}

div.card > p{
    width: 336px;
    height: 73px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 16px;
    padding: 6px;
    letter-spacing: 0.4px;
}

/* About Area */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg-secundary);
    padding: 24px;
    height: 560px;
}

div.left{
    width: 50%;
    display: flex;
    justify-content: center;
}

div.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about > div:nth-child(2) > img:nth-child(1){
    cursor: pointer;
}

div.left > div:nth-child(1) > h1:nth-child(1){
    width: 247px;
    height: 80px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 90px;
    margin-bottom: 8px;
}

div.left > div:nth-child(1) > p:nth-child(2){
    width: 449px;
    height: 79px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* Testimonial Area */

.testimonial{
    background-color: var(--color-secundary-normal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    text-align: center;
}

.title-testemonial{
    margin-top: 80px;
    margin-bottom: 65px;
}

.title-testemonial > h3:nth-child(1){
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-primary-normal);
    margin-bottom: 5px;
}

.title-testemonial > h1:nth-child(2){
    width: 488px;
    height: 77px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}

.card-tes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 2rem;
}

.card-tes > div > img{
    width: 30px;
    height: 23px;
    margin-bottom: 16px;
}

.card-tes > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.card-tes > div > p{
    width: 100%;
    height: 115px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-font-global);
    margin-bottom: 18px;
}

.card-tes > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-bottom: 90px;
}

.card-tes > div > div > div > h2{
    width: 142px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: var(--color-primary-normal);
}

.card-tes > div > div > div > p{
    width: 100px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
}

footer{
    background: var(--color-bg-third);
    display: flex;
    flex-direction: column;
}

.footer-div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 297px;
}

.logo-footer{
    width: 151px;
    height: 31px;
    margin-top: 70px;
    margin-bottom: 21px;
}

.foot-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-img-social > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 7px;
    width: 35px;
    height: 35px;
}

.footer-img-social > div > img{
    cursor: pointer;
}

.foot-localization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.version-mobile{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5rem;
    margin-right: 5rem;
}

.foot-localization{
    margin-right: 4.4rem;
}

.where{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.foot-localization > p{
    width: 208px;
    height: 104px;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    margin-top: 9px;
}

.lgpd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.lgpd-title{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 70px;
    margin-bottom: 15px;
}

.lgpd > ul:nth-child(2){
    width: 184px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    list-style: disc;
}

.lgpd > ul> li{
    margin-left: 15px;
}

.fuul-footer{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 110px;
    margin-left: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.fuul-footer > img:nth-child(2){
    cursor: pointer;
}

/* Responsividade  */

@media (max-width: 480px){

    body{
        width: 28.75rem;
    }

    .top{
        margin-bottom: 3.4rem;
        justify-content: space-between;
    }

    .home{
        background: var(--color-bg-primary);
        height: 53rem;
        box-sizing: border-box;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .welcome{
        flex-direction: column;
        text-align: center;
        gap: 4.81rem;
        margin-top: 1rem;
    }

    section.left{
        width: 100%;
        
    }

    #home{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.right{
        width: 100%;
    }

    #home > h1:nth-child(1){
        font-size: 33px;
        line-height: 46px;
        text-align: center;
    }

    section.right > img:nth-child(1){
        width: 100%;
    }

    .cards{
        flex-direction: column;
    }

    .solution{
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        margin-bottom: 45px;
    }

    .title-solution > h1:nth-child(2){
        width: auto;
    }

    div.card{
        width: auto;
    }

/* About Area  */

    .about{
        flex-direction: column;
        text-align: center;
        height: 49.4rem;
        margin-bottom: 2rem;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
    }

    .about > div.left{
        width: 100%;
    }

    #about-us{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    div.left > div:nth-child(1) > p:nth-child(2){
        width: 358px;
        margin-bottom: 5.43rem;
        text-align: center;
    }

    .about > div:nth-child(2){
        width: 100%;
        margin-bottom: 6.8rem;
    }

    .about > div:nth-child(2) > a:nth-child(1) > img:nth-child(1){
        width: 100%;
    }

    /* Testemonial Area  */

    .testimonial{
        padding-left: 2.1rem;
        padding-right: 2.1rem;
    }

    .card-tes{
        flex-direction: column;
    }

    .card-tes > div{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card-tes > div > p{
        height: 2.18rem;
        line-height: 1.6rem;
        text-align: center;
        margin-bottom: 9.8rem;
        width: 25.75rem;
    }

    .horizontal-line{
        content: "hr";
        width: 90%;
        height: .1rem;
        background: linear-gradient(270deg, rgba(153, 7, 204, 0.4) 0%, #9907CC 49.57%, rgba(153, 7, 204, 0.4) 102.65%);
        margin-bottom: 3rem;
        margin-top: -1rem;
    }

    /* Footer Area  */

    body > footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 33rem;
    }

    .logo-footer{
        margin-bottom: 2.5rem;
        margin-top: 0rem;
    }

    .footer-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 3.56rem;
        margin-right: auto;
        margin-left: auto;
        gap: 1.21rem;
      }
    
    .version-mobile{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 3.3rem;
        gap: 2rem;
    }

    .version-mobile > div{
        width: 50%;
    }

    .where{
        margin-top: 0rem;
    }

    .lgpd-title{
        margin-top: 0rem;
    }

    .lgpd > ul:nth-child(2){
        width: 10.5rem;
    }

    .foot-localization > p{
        width: 10.5rem;
        font-size: 0.875rem;
    }

    .foot-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lgpd > ul:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .lgpd > ul > li > a{
        font-size: 0.875rem;
    }

    .fuul-footer{
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
        width: 78%;
        padding-top: 1.5rem;
    }
}