.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 480px){

    .top > img:nth-child(1){
        position: absolute;
        left: 3rem;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        right: 36px;
    }

    .menu{
        display: none;
    }

    .menu > ul{
        display: none;
        position: absolute;
        right: 0;
        top: 15.5vh;
        width: 50vw;
        height: 85.5vh;
        background: linear-gradient(180deg, #040926 90%, rgba(153, 7, 204, 0.24) 120.8%);
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.4s ease;
    }

    .menu.active{
        display: block;
    }

    .menu-list.active{
        transform: translateX(0%);
        transition: 0.4;
    }
    
    /* .menu > ul > li{
        /* opacity: 0; 
    }*/


    /* Turn menu in X closed  */
    .mobile-menu.active div:nth-child(2){
        opacity: 0;
    }

    .mobile-menu.active div:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: all 0.3s ease-in;
    }

    .mobile-menu.active div:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
        transition: 0.3s ease-in;
    }
}