.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 480px){

    body{
        overflow-x: hidden;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        right: 36px;
    }

    .menu > ul{
        position: absolute;
        right: 0;
        top: 15.5vh;
        width: 50vw;
        height: 85.5vh;
        background: linear-gradient(180deg, #040926 90%, rgba(153, 7, 204, 0.24) 120.8%);
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
    }

    .menu-list.active{
        transform: translateX(0%);
    }
    
    .menu > ul > li{
        /* opacity: 0; */
    }
}